html
  head 
    title= title
    style
       include style/homepage.css
  body
    div(class="body-container")
      div(class="float-container")
        div(class="nav-container")
          a(class='nav', href='/signup') Signup
          a(class='nav', href='/login') Login
          a(class='nav', href='/logout') Logout
          a(class='nav', href='/showuser') User
      h2(class="welcome-text") Hello, Welcome to the Coding Academic
