html
  head
    title Coding Academic
    style
      include ./style/signupsuccess.css 
  body
    h1 Success!
    p #{email} has been successfully signed up
    p You will recieve an email at this address to confirm
